SHIP_SIM_ENV=production
SHIP_SIM_ADDR=:8080
SHIP_SIM_DATABASE_URL=postgres://shipsim:shipsim@db:5432/shipsim?sslmode=disable
SHIP_SIM_ALLOWED_ORIGINS=http://localhost:8080
SHIP_SIM_AUTH_MODE=token
SHIP_SIM_AUTH_TOKEN=change-this-before-deploying
SHIP_SIM_AUTH_USER_HEADER=X-Forwarded-User
SHIP_SIM_STATIC_DIR=/app/web
SHIP_SIM_SCENARIO_DIR=/app/scenarios
SHIP_SIM_REQUEST_BODY_LIMIT=1048576
SHIP_SIM_RETENTION_DAYS=0
SHIP_SIM_MAX_TRACK_POINTS_PER_RUN=0

POSTGRES_DB=shipsim
POSTGRES_USER=shipsim
POSTGRES_PASSWORD=shipsim
